{{template "layout" .}}
{{define "content"}}
<div class="toolbar">
  <h1>{{.Secret.Metadata.Name}}</h1>
  <span class="tag">{{.Secret.Metadata.Namespace}}</span>
  <span class="spacer" style="flex:1"></span>
  <button class="btn btn-danger btn-sm"
    hx-delete="/ui/secrets/{{.Secret.Metadata.Namespace}}/{{.Secret.Metadata.Name}}"
    hx-confirm="Delete secret {{.Secret.Metadata.Name}}?"
    hx-on::after-request="window.location='/ui/secrets'">Delete</button>
</div>
<div class="card">
  <table class="kv-table">
    <tr><td>UID</td><td>{{.Secret.Metadata.UID}}</td></tr>
    <tr><td>Resource Version</td><td>{{.Secret.Metadata.ResourceVersion}}</td></tr>
    <tr><td>Created</td><td>{{.Secret.Metadata.CreationTimestamp.Format "2006-01-02 15:04:05 UTC"}}</td></tr>
  </table>
</div>
<h2 style="font-size:1rem;margin-bottom:0.75rem">Data</h2>
<div class="card">
  {{if .Secret.Spec.Data}}
  <table class="kv-table">
    {{range $k, $v := .Secret.Spec.Data}}
    <tr>
      <td>{{$k}}</td>
      <td>{{$v}}</td>
    </tr>
    {{end}}
  </table>
  {{else}}
  <p style="color:#888;font-size:0.9rem">No data keys.</p>
  {{end}}
</div>
<a href="/ui/secrets?ns={{.Secret.Metadata.Namespace}}" class="btn btn-primary btn-sm">&larr; Back</a>
{{end}}
