{{- range $poolName, $pool := .Values.loadBalancer.ipPools }}
{{- if $pool.enabled }}
apiVersion: cilium.io/v2
kind: CiliumLoadBalancerIPPool
metadata:
  name: {{ printf "%s-%s" $.Release.Name $poolName | quote }}
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{- include "bgp-loadbalancing.labels" $ | nindent 4 }}
spec:
  blocks:
  {{- range $block := $pool.blocks }}
      {{- if $block.enabled }}
      - {{ omit $block "enabled" | toYaml | nindent 8 | trim }}
      {{- end }}
  {{- end }}
{{- end }}
{{- end }}
